<link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon.ico }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon.png32 }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon.png16 }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.favicon.apple }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ .Site.Params.favicon.android192 }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ .Site.Params.favicon.android512 }}">
