{{- /* Renders a formatted date with Git integration and smart fallbacks. @context {page} page The current page. @context {string} format The date format (optional, defaults to "January 2, 2006"). @context {string} type The date type: "published", "modified", or "both" (optional, defaults to "published"). @example: {{ partial "date.html" (dict "page" . "format" "Jan 2, 2006" "type" "published") }} */}} {{- $page := .page }} {{- $format := .format | default "January 2, 2006" }} {{- $type := .type | default "published" }} {{- $publishedDate := "" }} {{- $modifiedDate := "" }} {{- $publishedDateMachine := "" }} {{- $modifiedDateMachine := "" }}

{{- /* Get published date - prefer frontmatter date, then Git author date */}} {{- if $page.Date }} {{- $publishedDate = $page.Date.Format $format }} {{- $publishedDateMachine = $page.Date.Format "2006-01-02T15:04:05Z07:00" }} {{- else if and $page.GitInfo $page.GitInfo.AuthorDate }} {{- $publishedDate = $page.GitInfo.AuthorDate.Format $format }} {{- $publishedDateMachine = $page.GitInfo.AuthorDate.Format "2006-01-02T15:04:05Z07:00" }} {{- end }}

{{- /* Get modified date - prefer Git commit date if different from published, then lastmod, then file modification time */}} {{- $useGitModified := false }} {{- if and $page.GitInfo $page.GitInfo.CommitDate $page.Date }} {{- if ne ($page.GitInfo.CommitDate.Format "2006-01-02") ($page.Date.Format "2006-01-02") }} {{- $useGitModified = true }} {{- end }} {{- else if and $page.GitInfo $page.GitInfo.CommitDate (not $page.Date) }} {{- $useGitModified = true }} {{- end }}

{{- if $useGitModified }} {{- $modifiedDate = $page.GitInfo.CommitDate.Format $format }} {{- $modifiedDateMachine = $page.GitInfo.CommitDate.Format "2006-01-02T15:04:05Z07:00" }} {{- else if $page.Lastmod }} {{- if ne ($page.Lastmod.Format "2006-01-02") ($publishedDateMachine | time.Format "2006-01-02") }} {{- $modifiedDate = $page.Lastmod.Format $format }} {{- $modifiedDateMachine = $page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }} {{- end }} {{- end }}

{{- if eq $type "published" }} {{- if $publishedDate }}
<time datetime="{{ $publishedDateMachine }}" title="Published date">{{ $publishedDate }}</time>
{{- end }} {{- else if eq $type "modified" }} {{- if $modifiedDate }}
<time datetime="{{ $modifiedDateMachine }}" title="Last modified">{{ $modifiedDate }}</time>
{{- end }} {{- else if eq $type "both" }} {{- if $publishedDate }}
<time datetime="{{ $publishedDateMachine }}" title="Published date">{{ $publishedDate }}</time>
{{- end }} {{- if and $modifiedDate $publishedDate }} <span class="text-[var(--color-fg)]/40 mx-2">•</span>
<time datetime="{{ $modifiedDateMachine }}" title="Last modified">Updated {{ $modifiedDate }}</time>
{{- end }} {{- end }}
